@charset "UTF-8";

* {
  color: inherit;
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url('white.svg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  font-size: 2vw;
  color: white;
}

@media only screen and (max-height: 800px) and (orientation: landscape) {
  body {
    background-size: auto 50vh;
    font-size: 3.5vh;
  }
}

@media only screen and (max-width: 800px) and (orientation: portrait) {
  body {
    background-size: 50vw auto;
    font-size: 3.5vw;
  }
}

a {
  text-transform: lowercase;
  font-variant: small-caps;
  text-decoration: none;
  padding: 0.125em;
  margin: 0.125em;
}

a:hover {
  transition-timing-function: ease-in-out;
  transition-duration: 0.25s;
  background-color: white;
  border-radius: 2px;
  color: black;
}

.footer {
  margin: 2em 0px 2em 0px;
  text-align: center;
  position: fixed;
  display: block;
  bottom: 0px;
  width: 100%;
}

.linklist {
  list-style: none;
}

.linklist li {
  display: inline-block;
}

.linklist li:not(:last-child):after {
  position: absolute;
  content: "·";
}
