@charset "UTF-8";

body {
  background-image: url('white.svg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  margin: 0px;
}

#linklist {
  margin: calc(100vh - 3em) auto 0px auto;
  list-style: none;
  font-size: 1em;
  color: white;
  width: 35em;
}

#linklist li {
  float: left;
}

#linklist li a {
  text-transform: lowercase;
  font-variant: small-caps;
  text-decoration: none;
  padding: 0.5em;
  margin: 0.5em;
  color: white;
}

#linklist li a:hover {
  background-color: #111111;
}

#linklist li:not(:last-child):after {
  content: "· ";
}
