@charset "UTF-8";

* {
  color: inherit;
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url('white.svg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  color: white;
}

a {
  text-transform: lowercase;
  font-variant: small-caps;
  text-decoration: none;
  padding: 0.5em;
  margin: 0.5em;
}

a:hover {
  background-color: #111111;
}

.footer {
  margin: 2em 0px 2em 0px;
  text-align: center;
  position: fixed;
  display: block;
  bottom: 0px;
  width: 100%;
}

.linklist {
  list-style: none;
}

.linklist li {
  display: inline-block;
}

.linklist li:not(:last-child):after {
  content: "· ";
}
